/* 
.mat-nav-list a {
  text-decoration: none; 
  color: #333; 
} */

.example-container {
  width: 100%;
  height: 100%;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.back-icon-header {
  display: flex;
  /* align-items: center;  */
  padding: -20px; 
  border: 1px solid #ccc; 
  border-width: 0.5px; 
  height: 30px;
  text-decoration: solid;
  font-weight: bold;
  border-radius: 5px; 
}

.back-icon-header mat-icon {
  margin-right: 5px; 
  border: 1px solid #ccc; 
  border-radius: 5px;
  height: 28px;
}
.mat-icon {
  vertical-align: -5px;
  padding-top: 2px; 
  line-height: 24px; 
}
.report_arrow{
  margin-left: 60px;
}


.back-icon-header h4 {
  margin-left: 45px;
  /* text-align: center; */
  /* border: 1px solid #ccc; 
  border-width: 0.5px; 
  height: 25px; */
  /* border-radius: 5px;  */
}

.mat-nav-list a.active {
  color: #5e85cc;
  
}



.sidenav {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  z-index: 2;
  text-decoration: none;
  color: black; 
}


.toolbar {
  z-index: 1;
  background-color: #5e85cc;
  color: white;
  width: 100%;
}

/* .mat-drawer-content {
  padding: 0;
} */

.mat-sidenav-container {
  height: 100vh;
  margin-top: 150px;
}

.example-spacer {
  flex: 1 1 auto;
}