<!-- <button class="print" (click)="generate_tc()"  mat-raised-button color="primary">Print</button> -->
<mat-tab-group class="group"  mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab class="mat-tab-label" label="Current Student">
        <!-- <table class="fl-table">
            <thead>
            <tr>
                <th>S.No</th>
                <th>Register Number</th>
                <th>Student Name</th>
                <th>Download</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor ="let item of userInfo;let i=index" >
                <td>
                        {{i+1}}
                </td>
                <td>
                  {{item.reg_no}}
                </td>
                <td>
                  {{item.name_student}}
                </td>
                <td >
                  <button mat-button (click)="generate_tc(i)">
                      Generate
                  </button>         
                </td>
            </tr>
            <tbody>
        </table> -->
        <!-- <mat-form-field>
          <mat-label>Favorite food</mat-label>
          <mat-select [(ngModel)]="selecteddept" name="food">
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->

        <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table custom-table">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef class="custom-cell"> No. </th>
            <td mat-cell *matCellDef="let element let i = index"  class="custom-cell"> {{i+1}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="register">
            <th mat-header-cell *matHeaderCellDef class="custom-cell"> Register Number </th>
            <td mat-cell *matCellDef="let element" class="custom-cell"> {{element.reg_no}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="studentname">
            <th mat-header-cell *matHeaderCellDef class="custom-cell"> Student Name </th>
            <td mat-cell *matCellDef="let element" class="custom-cell"> {{element.name_student}} </td>
          </ng-container>
      
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="custom-cell"> Action </th>
            <td mat-cell *matCellDef="let element; let i = index"  class="custom-cell" >
              <button mat-raised-button (click)="generate_tc(i)">Generate</button>

            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        </div>
        
        
        
  </mat-tab>
  <mat-tab class="mat-tab-label" label="Others">

  </mat-tab>
  <mat-tab class="mat-tab-label" label="Customize TC">
    
  </mat-tab>
  <mat-tab class="mat-tab-label" label="Duplicate">
    
  </mat-tab>
</mat-tab-group>



